
                                 <article>
                                <h1>PHP 8.4 gereleased</h1>
                                <p>De nieuwste versie van PHP bevat uitbreidingen op oa. mind control-facades, in-browser 3d projecties en de API voor drones.</p>
                                <p>Kernwoorden: new, PHP 8.4</p>

                            </article>

                            <article>
                                <h1>Zymphovel framework</h1>
                                <p>Wordt Zymphovel het nieuwste PHP-framework dat de wereld in een sneltempo zal veroveren?</p>
                                <p>Kernwoorden: frameworks</p>
                            </article>

                            <article>
                                <h1>Rasmus Lerdorf vermist</h1>
                                <p>De geestelijke vader van PHP Rasmus Lerdorf is sinds vorige week vermist nadat hij met zijn privé-jet richting Ibiza vertrok.</p>
                                <p>Kernwoorden: bizar, rasmus lerdorf, feestneus</p>
                            </article>

                            