@charset "utf-8";


body {
	font-family:Helvetica, Arial, sans-serif; /*lettertypes, geen fontsize omdat die verschilt per text deel*/
    margin: 0; /*verwijderd de witte streep boven*/
    background-color: #1d1d1d;
	}
p{
    margin: 0; /*reset opmaak*/
    padding: 0;
    }

a {
    text-decoration: none; /*delete a decorations*/
    color: #ffffff; /*no more blue*/
    }

li{
   list-style: none;/*no points in front of lists*/
    margin: 0; /*reset opmaak*/
    padding: 0;
    }

ul{
    margin: 0; /*reset opmaak*/
    padding: 0;
    }



.top_banner {/*full width*/
    background-color: #dadada;
    height: 40px;/*predefined height*/
    }
.top_l {/*box for top menu*/
    margin: auto ;/*centralise*/
    height: 40px;/*predefined height*/
    width: 900px;/*predefined width*/
    background-color: #dadada;
    }

#facebook, #twitter, #youtube {
    display: block;
    padding: 6px 10px ;/*central possition*/
    float: right;
    }

#facebook {
    padding-right: 6px;
    }

.menut >a {/*links zonder onderstreping of in blauw*/
    font-weight: bold;
    padding: 11px 20px 15px 20px;/*clickable zone*/
    font-size: 14px;
    color: #ffffff;
    float: left;/*horizontal menu*/
    }

#menu1 >a{
    padding: 11px 20px 15px 0 ;/*clickable zone*/
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    float: left;/*horizontaal menu*/
    }

.nav >li :hover, #menu1 :hover {/*feedback to click*/
    color: #777777;
    }




#backtitle {/*no need to */
    background-color: #ffffff ;
    margin: auto ;/*centralise*/
    padding: 0;
    color: #777777 ;
    }

#title {/*no need to */
    width: 900px ;/*defined width*/
    background-color: #ffffff ;
    margin: 0 auto ;/*centralise*/
    color: #777777 ;
    }

.t1 {
    color: #777777;
    text-align: center;
    font-size: 42px;
    padding: 32px 0 0 0;/*possitioning*/
    margin: 0;
    }

.t2 {
    color: #e46965;
    text-align: center;
    font-size: 20px;
    padding: 0px 0 42px 0;/*possitioning*/
    margin: 0;
    }



.backtop {
    background-color: #373737;
    }

.tpicban {
    margin: auto ;/*centralise*/
    background-image: url(../img/landschap_900.jpg);
    height: 300px;/*predefined height, needed for the picture*/
    width: 900px;/*predefined width*/
    padding: 0;
    }

.div3 { /*no borders, they screw up the */
    float: left;
    height: 300px;/*predefined height*/
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color:rgba(54,54,54,0.1) /*filter*/
    }

.symtop {
    opacity: .5;
    padding: 114px 118px 122px 118px; /* hover overlapses border otherwise*/
    }/*clickbox fits box*/

.symtop:hover {background-color: #373737;}

.div3t { margin-top: -122px; } /*position makes interface bugg out*/


#backtext {/*no need to */
    background-color: #ffffff ;
    margin: 0 auto ;/*centralise*/
    padding: 0;
    color: #777777 ;
    }
.textmid {
    width: 900px;/*predefined width*/
    margin: 0 auto ;/*centralise*/
    background-color: #ffffff ;
    }

.textmid >h2 {
    font-size: 42px;
    color: #e46965;
    padding: 30px 0 20px 0 ;
    margin:  0;
    }

.textmid >p {
    font-size: 18px;
    color: #777777;
    margin: 0;
    padding-bottom: 24px;
    }



#portfolioback {
    background-color: #dadada;
}

.backmid {
    height: 320px;
    width: 900px;
    background-color: #dadada;
    margin: 0 auto;
    }

.backmid >h2 {
    font-size: 48px;
    color: #e46965;
    padding: 10px 0;
    margin: 0;/*centralise*/
    }

.bpicban{
    margin: auto;/*centralise*/
    width: 900px;/*predefined width*/
    background-color: #dadada;
    height: 210px;/*predefined height*/
    }

.div4a {
    float: left;
    height: 210px ;/*predefined height*/
    width: 210px;
    padding: 0;
    margin: 0;
    display: block;
    }

.div4 {
    float: left;
    height: 210px ;/*predefined height*/
    width: 210px;
    padding: 0;
    margin-left: 20px;
    display: block;
    }

.div4:hover { opacity: .8}
.div4a:hover { opacity: .8}

.divt4a a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    position: relative;
    bottom: 50px;
    float: left;
    height: 43px ;/*predefined height -7px*/
    width: 110px;
    padding: 7px 90px 0 10px ;
    display: block;
    background-color:rgba(0,0,0,0.5);    
    overflow: hidden;
    }

.divt4 a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    position: relative;
    bottom: 50px;
    float: right;
    height: 43px ;/*predefined height-7px*/
    width: 110px;
    padding: 7px 90px 0 10px ;
    margin-left: 20px;
    background-color:rgba(0,0,0,0.5);
    overflow: hidden;
    }
.btxt1{
    margin: 0;
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    padding: 0 ;
    
    }
.f2{
    margin: 8px 8px 8px 8px;
    position: relative;
    bottom: 40px;
    left: 150px;
    opacity: .5;
    height: 210
    }








.backbot {
    background-color: #252525;
    margin: 0 auto;/*centralise*/
    }

.txtban{
    margin: 0 auto;/*centralise*/
    width: 900px;/*predefined width*/
	height: 275px;
    background-color: #252525;
    }

.bdiv3 {
    float: left;
    display: block;
    width: 300px; 
    }
.bdiv3 >h4 {
    color: #e46965;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    }
.h6 h6 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    color: #9d9d9d;
    }
.h6 p {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    color: #9d9d9d;
    }
.lip li {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
	padding:0;
    margin-top: 20px;
    color: #9d9d9d;
    }
.lip li a {color: #9d9d9d;}

legend{
    color: #e46965;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin: 10px 0 10px 0;
    padding: 0;
    }
fieldset{
    border: 0;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    }
#name, #email {
    font-family:Helvetica, Arial, sans-serif;
    width: 283px;
    height: 30px;
    background-color: #363636;
    border: 1px solid #6d6d6d;
    font-size: 18px;
    padding: 10px 0 0 15px;
    color: #9d9d9d;
}
#email {margin-bottom: 20px}
    
#name:focus, #email:focus {
    border: 1px solid #e46965;
    box-shadow: 0px 0px 8px rgba(225, 225,225, 0.5);
 
    
    }
#subscribe{
    background-color: #e46965;
    width: 300px;
    font-size: 24px;
    text-align: center;
    height: 40px;
    border: 0;
    margin-bottom: 20px;
    color: #fff;
    -webkit-appearance: none;
    border-radius: 0;
    }
#subscribe:hover {color: #000;}


textarea {
    resize: none;
    margin: 10px 0;
    overflow: hidden;
}



.footer {
    height: 40px;/*predefined height*/
    background-color: #1d1d1d;
    text-align: center;
	margin: 0 ;
	padding: 0;
    }

.footer >p {
    margin: 0 auto;
    width: 900px;/*predefined width*/
    font-size: 14px;
    color: #9d9d9d;
    padding: 13px;
    }





/*

.class/#id {  banner
    height: ;
    background-color: ;
	margin: 0 ;
	padding: 0;
    }

.class/#id {  inside
    height: ;
    background-color: ;
	margin: 0 ;
	padding: 0 auto ;
    }

*/

