@charset "utf-8";


body {
	font-family:Helvetica, Arial, sans-serif; /*lettertypes, geen fontsize omdat die verschilt per text deel*/
    margin: 0; /*verwijderd de witte streep boven*/
    background-color: #1d1d1d;
	}
p{
    margin: 0; /*reset opmaak*/
    padding: 0;
    }

a {
    text-decoration: none; /*delete a decorations*/
    color: #ffffff; /*no more blue*/
    }

li{
   list-style: none;/*no points in front of lists*/
    margin: 0; /*reset opmaak*/
    padding: 0;
    }

ul{
    margin: 0; /*reset opmaak*/
    padding: 0;
    }



.top_banner {/*full width*/
    background-color: #dadada;
    height: 40px;/*predefined height*/
    }
.top_l {/*box for top menu*/
    margin: auto ;/*centralise*/
    height: 40px;/*predefined height*/
    width: 900px;/*predefined width*/
    }



.social >li {
    display: block;
    padding:6px;/*central possition*/
    margin-left: 14px;/*spacing*/
    float: right;
    }

.menut >a {/*links zonder onderstreping of in blauw*/
    font-weight: bold;
    padding: 11px 20px 15px 20px;/*clickable zone*/
    font-size: 14px;
    color: #ffffff;
    float: left;/*horizontal menu*/
    }

#menu1 >a{
    padding: 11px 20px 15px 0 ;/*clickable zone*/
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
    float: left;/*horizontaal menu*/
    }

.nav >li :hover, #menu1 :hover {/*feedback to click*/
    color: #777777;
    }




#backtitle {/*no need to */
    height: 135px ;/*predefined height*/
    background-color: #ffffff ;
    margin: auto ;/*centralise*/
    padding: 0;
    color: #777777 ;
    }
#title {/*no need to */
    height: 135px ;/*predefined height*/
    width: 900px ;/*defined width*/
    background-color: #ffffff ;
    margin: 0 auto ;/*centralise*/
    color: #777777 ;
    }
.t1 {
    color: #777777;
    text-align: center;
    font-size: 42px;
    padding-top: 32px;/*possitioning*/
    margin: 0;
    }
.t2 {
    color: #e46965;
    text-align: center;
    font-size: 20px;
    padding: 8px 0 41px 0;/*possitioning*/
    margin: 0;
    }











.backmid {
    height: 400px;/*predefined height*/
    background-color: #dadada;
    padding: 0;
    margin: 0;
    }

.backmid >h2 {
    font-size: 48px;
    color: #e46965;
    padding: 10px 0;
    display: block;
    margin: 0 auto ;/*centralise*/
    width: 900px;/*predefined width*/
    }

.bpicban{
    margin: auto;/*centralise*/
    width: 900px;/*predefined width*/
    background-color: #dadada;
    height: 400px;/*predefined height*/
    }

.choose{
    float: left;
    width: 450px;
    }




.backbot {
    height: 275px;/*predefined height*/
    background-color: #252525;
    }

.txtban{
    margin: 0 auto;/*centralise*/
    width: 900px/*predefined width*/
    }

.bdiv3 {
    float: left;
    display: block;
    width: 300px; 
    }
.bdiv3 >h4 {
    color: #e46965;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    }
.h6 h6 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    color: #9d9d9d;
    }
.h6 p {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    color: #9d9d9d;
    }
.lip li {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    color: #9d9d9d;
    }
.lip li a {color: #9d9d9d;}

legend{
    color: #e46965;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin: 10px 0 10px 0;
    padding: 0;
    }
fieldset{
    border: 0;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    }
.name, .email, .message {
    font-family:Helvetica, Arial, sans-serif;
    width: 285px;
    height: 30px;
    background-color: #363636;
    border: 1px solid #6d6d6d;
    font-size: 18px;
    padding: 10px 0 0 15px;
    color: #9d9d9d;
    margin: 0;
    margin-bottom: 20px
}

    
.name:focus, .email:focus, .message:focus {
    border: 1px solid #e46965;
    box-shadow: 0px 0px 8px rgba(225, 225,225, 0.5);
 
    
    }
#submit , #subscribe{
    background-color: #e46965;
    width: 300px;
    font-size: 24px;
    text-align: center;
    height: 40px;
    border: 0;
    margin-bottom: 20px;
    color: #fff;
    }
#submit:hover, #subscribe:hover {color: #000;}


textarea {
    padding:;
    resize: none;
    margin: 10px 0
}



.footer {
    height: 40px;/*predefined height*/
    background-color: #1d1d1d;
    text-align: center;
    }

.footer >p {
    margin: auto;
    width: 900px;/*predefined width*/
    font-size: 14px;
    color: #9d9d9d;
    padding: 13px;
    }